body {
  margin: 0;
  padding: 0;
  background-color: hsl(0, 100%, 74%) !important;
  background-image: url("../images/bg-intro-desktop.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: "Poppins", sans-serif !important;
}

.flexbox-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top:5rem;
}

.left {
  height: 500px;
  width: 600px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.right {
  height: 500px;
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.request {
  height: 50px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: hsl(248, 32%, 49%);
}

input {
  width: 80%;
  font-weight: 500 !important;
}

.form-input {
  border-radius: 20px;
  padding: 0 50px 0 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  height: 400px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px !important;
}
