body {
  margin: 0;
  padding: 0;
  background-color: hsl(0, 100%, 74%);
  background-image: url("../images/bg-intro-desktop.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.flexbox-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.left {
  height: 600px;
  width: 600px;
  background-color: red;
}

.right {
  height: 600px;
  width: 600px;
  background-color: green;
}
